<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DriverrApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Driverr_Mobile">
        
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyWJOw5w-1nWM_rrrsMeWfdhO6GrPBZa8" />
        
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DriverActivationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="driverr"
                    android:host="driver-activate" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerRideTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AdminApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPricingActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRideMonitorActivity"
            android:exported="false" />
        <activity
            android:name=".RideOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ClientRideHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteRoutesActivity"
            android:exported="false" />
        <activity
            android:name=".DriverRideActivity"
            android:exported="false" />
        <activity
            android:name=".DriverHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".RideReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
    </application>

</manifest>